        /*banner-section*/
        
        .banner-image {
            background-image: url("../image/blogdetails-image-1.png");
            background-position: center;
            background-size: cover;
            min-height: 500px;
        }
        
        .banner {
            position: relative;
            justify-content: center;
        }
        
        @media screen and (min-width: 1200px) {
            .user-image img {
                width: 300px;
                height: 300px;
                top: 70%;
            }
        }
        /*left-container*/
        
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        
        .left-container {
            margin-top: 250px;
            width: 500px;
            position: relative;
        }
        
        .left-container-content {
            position: absolute;
            border-top: 2px solid #E3E9EE;
        }
        
        .left-container-content h2 {
            font-family: 'Raleway', sans-serif;
            font-weight: 800;
            color: #3D3E7E;
            letter-spacing: 0.02em;
            font-size: 30px;
            line-height: 120%;
        }
        
        .user-image img {
            position: absolute;
            width: 250px;
            height: 250px;
            left: 5%;
            top: -32%;
        }
        
        .user-name h2 {
            position: absolute;
            bottom: 100%;
            left: 0;
            font-size: 40px;
            background: -webkit-linear-gradient(-45deg, #3d3d7e 76%, #ff4545 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
        }
        
        .date h6 {
            position: absolute;
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            letter-spacing: 0.02em;
            color: #3D3E7E;
            font-size: 18px;
            bottom: 100%;
            right: 0;
        }
        
        .list-item ul li {
            display: inline-flex;
        }
        
        .list-item ul {
            margin-left: -40px;
        }
        
        .list-item ul li a {
            text-decoration: none;
            border: 1.5px solid #C5D1E3;
            border-radius: 50px;
            padding: 5px 15px;
            color: #4D4EA1;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            letter-spacing: 0.01em;
            font-size: 15px;
        }
        
        .left-container-content p {
            color: #73738F;
            letter-spacing: 0.01em;
            line-height: 160%;
            font-size: 18px;
            font-family: 'Open Sans', sans-serif;
        }
        
        .message-section {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            position: relative;
        }
        
        .right-message-section {
            display: inline-flex;
        }
        
        .left-message-section h3 {
            margin-top: 25px;
        }
        
        .left-message-section h3,
        .right-message-section h4,
        .right-message-section h5 {
            letter-spacing: 0.02em;
            color: #DB3B4E;
            font-size: 16px;
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
        }
        
        .right-message-section .message-first-image {
            width: 21px;
            height: 20.5px;
        }
        
        .right-message-section .message-second-image {
            width: 50px;
            height: 50px;
        }
        
        .right-message-section h4 {
            position: absolute;
            top: 5%;
            left: 65%;
            bottom: 22%;
        }
        
        .right-message-section h4::after {
            content: '';
            position: absolute;
            width: 2px;
            background: #C0CCDD;
            display: block;
            height: 20px;
            top: 5%;
            left: 375%;
            bottom: 5%;
        }
        
        .right-message-section .message-first-image {
            position: absolute;
            left: 70%;
            top: 35%;
        }
        
        .right-message-section .message-second-image {
            margin-left: 10px;
            margin-top: 10px;
        }
        
        @media screen and (min-width: 1025px) {}
        
        @media screen and (min-width: 1200px) {
            .left-container {
                width: 650px;
            }
            .left-container-content h2 {
                font-size: 48px;
            }
        }
        /*right-container*/
        
        .right-container {
            position: relative;
            width: 420px;
            margin-left: 50px;
            margin-top: 20px;
        }
        
        .right-container-list-item ul li {
            display: inline-flex;
        }
        
        .right-container-content h2,
        .right-container-content h3,
        .right-container-content h4 {
            background: -webkit-linear-gradient(left, #3d3d7e 0%, #ff4545 68%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            font-size: 40px;
        }
        
        .input-box input {
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            padding-left: 38px;
            font-size: 18px;
        }
        
        .input-box::after {
            content: '';
            background-image: url("../image/search-icon.png");
            background-repeat: no-repeat;
            width: 25px;
            height: 25px;
            position: absolute;
            right: 10%;
            top: 18%;
        }
        
        .form-control {
            width: 390px;
            height: 60px;
            border: 1.5px solid #C5D1E3;
            box-shadow: 4px 8px 15px rgba(165, 179, 202, 0.25);
            border-radius: 50px;
        }
        
        .right-container-content h3 {
            margin-top: 100px;
        }
        
        .right-container-list-item ul li a {
            text-decoration: none;
            border: 1.5px solid #C5D1E3;
            border-radius: 50px;
            padding: 5px 15px;
            color: #4D4EA1;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            letter-spacing: 0.01em;
            font-size: 15px;
            background-color: rgba(197, 209, 227, 1);
            transition: all .3s ease;
        }
        
        .right-container-list-item ul li a:hover {
            opacity: 0.8;
        }
        
        .right-container-list-item ul {
            margin-left: -40px;
        }