@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;800;900&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700;800&display=swap');
@font-face {
    font-family: 'Poppins Regular';
    src: url('../font/Poppins-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Poppins Regular';
    src: url('../font/Poppins-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Poppins Bold';
    src: url('../font/Poppins-Bold.woff') format('woff');
}

body {
    margin: 0;
}

img {
    max-width: 100%;
}