@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
.footer-logo h2 {
    color: #3D3E7F;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.footer-logo p {
    color: #4C4C62;
    opacity: 80%;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

.footer-content-quicklinks h2 {
    color: #3D3E7F;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.footer-content-quicklinks ul {
    list-style: none;
}

.footer-content-quicklinks li a {
    text-decoration: none;
    color: #292942;
    opacity: 0.7;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.footer-content-quicklinks a:hover {
    opacity: 0.5;
}

.footer-content-support h2 {
    color: #3D3E7F;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.footer-content-support ul {
    list-style: none;
}

.footer-content-support li a {
    text-decoration: none;
    color: #292942;
    opacity: 0.7;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.footer-content-support a:hover {
    opacity: 0.5;
}

.footer-content-sociallinks h2 {
    color: #3D3E7F;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.footer-content-sociallinks img:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.5);
}

@media screen and (min-width: 250px) {
    .footer-logo {
        padding: 50px 0px 20px 15px;
    }
    .footer-content {
        padding-left: 15px;
        padding-right: 15px;
    }
    .footer-content-quicklinks {
        text-align: justify;
    }
    .footer-content-sociallinks a {
        padding-left: 10px;
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 769px) {
    .footer-section {
        display: flex;
        justify-content: center;
    }
    .footer-logo {
        padding: 25px 0px 0px 20px;
    }
    .footer-content {
        display: inline-flex;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 15px;
    }
    .footer-logo p {
        width: 300px;
    }
    .footer-content-quicklinks {
        padding-right: 50px;
    }
    .footer-content-quicklinks ul li {
        line-height: 230%;
    }
    .footer-content-support {
        padding-left: 30px;
    }
    .footer-content-support ul li {
        line-height: 230%;
        margin-left: -30px;
    }
    .footer-content-sociallinks {
        padding-left: 20px;
    }
}

@media screen and (min-width: 1025px) {
    .footer-logo {
        padding: 0px 0px 20px 100px;
    }
    .footer-content-sociallinks {
        padding-left: 40px;
    }
}

@media screen and (min-width: 1200px) {
    .footer-logo {
        padding: 0px 0px 0px 150px;
    }
    .footer-logo h2 {
        font-size: 24px;
    }
    .footer-logo p {
        font-size: 16px;
    }
    .footer-content-quicklinks {
        font-size: 20px;
    }
    .footer-content-quicklinks ul li {
        font-size: 17px;
    }
    .footer-content-support {
        padding-top: 2px;
        padding-left: 50px;
        font-size: 20px;
    }
    .footer-content-support ul li {
        font-size: 17px;
    }
    .footer-content-sociallinks {
        font-size: 20px;
        padding-left: 50px;
    }
}

@media screen and (min-width: 1400px) {
    .footer-logo {
        padding: 0px 0px 0px 200px;
    }
    .footer-content-quicklinks {
        padding-right: 80px;
    }
}

@media screen and (min-width: 1900px) {
    .footer {
        padding-top: 129px;
    }
    .footer-logo {
        padding: 20px 0px 0px 265px;
    }
    .footer-logo h2 {
        line-height: 22.8px;
    }
    .footer-logo p {
        width: 338px;
        line-height: 160%;
    }
    .footer-content {
        padding: 0px 0px 0px 156px;
    }
    .footer-content-support {
        padding-left: 170px;
    }
    .footer-content-sociallinks {
        padding-left: 130px;
    }
    .sociallinks-linkdn img {
        padding-left: 20px;
    }
    .sociallinks-twitter img {
        padding-left: 20px;
        padding-right: 20px;
    }
}