@font-face {
    font-family: 'Poppins Regular';
    src: url('../font/Poppins-Regular.woff') format('woff');
    }

body {
    margin: 0;
}

img {
    max-width: 100%;
}
/*header section*/
.header-right ul li a {
    color: #3A3A55;
    font-family: 'Poppins Regular';
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
}
.header-right--started{
    background: linear-gradient(279.8deg, #F36E23 22.22%, #F3A023 86.45%);
    box-shadow: 0px 8px 14px rgba(244, 111, 36, 0.25);
    text-align: center;
}
.header-right ul li{
    list-style: none;
}

@media screen and (max-width: 768px) {
    .header-logo img {
        max-width: 60px;
        max-height: 30px;
        padding: 10px 0px 20px 30px;
    }
    .header a {
        display: block;
        text-align: left;
        line-height: 40px;
      }
      .header{
        padding: 30px 10px;
      }
      .header-right--started{
          width: 150px;
          height: 40px;
          border-radius: 20px;
}
.header-right--started a{
    text-align: center;
}
.header-right a:hover{
    background-color: inherit;
}
}
@media screen and (min-width: 769px) {
    .header{
        display: flex;
        justify-content: space-between;
    }
    .header-logo img {
        
        padding: 25px 0px 0px 30px;
    }
    .header-right ul li{
        display: inline-block;
        padding:25px 20px;
    
    }
    .header-right--started{
        margin-right: 30px;
        border-radius: 30px;
        width: 120px;
        height: 20px;
    }
    .header-right a:hover{
        border-bottom: 3px solid #7256E5;
    }
}

@media screen and (min-width: 1025px) {
    .header-logo img {
        width: 78.6px;
        height: 43.64px;
        padding: 25px 0px 0px 30px;
    }
   
    .header-right--started{
        margin-right: 60px;
        width: 150px;
        height: 20px;
        border-radius: 40px;
    }
    .header-right a:hover{
        border-bottom: 3px solid #7256E5;
    }
}
@media screen and (min-width: 1900px) {
    .header-logo img {
        padding: 10px 0px 0px 120px;
    }
   
    .header-right--started{
        margin-right: 120px;
        width: 180px;
        height: 20px;
        border-radius: 40px;

    }
   .header{
       padding-top: 57px;
   }
   .header-right ul li{
       padding-left: 50px;
       padding-right: 50px;
   }
}
/*banner section*/
    
.banner-image img{
    top:50%;
    right: 50%;
    width: 500px;
}
