.header-right ul li a {
    font-family: 'Poppins Regular';
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
    color: #3A3A55;
}

.header-right--started a {
    color: white !important;
}

.header-right--started {
    background: linear-gradient(279.8deg, #F36E23 22.22%, #F3A023 86.45%);
    box-shadow: 0px 8px 14px rgba(244, 111, 36, 0.25);
    text-align: center;
}

.header-right ul li {
    list-style: none;
}

.header {
    height: 140px;
    background: linear-gradient(88.15deg, #F4F7FA 36.58%, #FEF7F5 67.09%);
}

@media screen and (max-width: 768px) {
    .header-logo {
        padding: 10px 0px 20px 30px;
    }
    .header-right {
        position: absolute;
        top: 80%;
        width: 100%;
        background: #E5E5E5;
        border-top: 1px solid #ddd;
        display: none;
        line-height: 40px;
        z-index: 99;
    }
    .header-right ul li a {
        font-size: 13px;
    }
    .header {
        padding: 20px 0px;
        justify-content: space-between;
        display: flex;
        position: relative;
    }
    .header-right--started {
        width: 110px;
        height: 40px;
        border-radius: 50px;
    }
    .header-right a:hover {
        background-color: inherit;
    }
    .toggle-button {
        display: inline-flex;
        font-size: 30px;
        color: #3A3A55;
        text-decoration: none;
        margin-top: 10px;
    }
}

@media screen and (min-width: 769px) {
    .header {
        display: flex;
        justify-content: space-between;
    }
    .header-logo {
        padding: 25px 0px 0px 30px;
    }
    .toggle-button {
        display: none;
    }
    .header-right ul li {
        display: inline-block;
        padding: 25px 20px;
    }
    .header-right ul li a {
        font-size: 15px;
    }
    .header-right--started {
        margin-right: 30px;
        border-radius: 40px;
        width: 110px;
        height: 20px;
        transition: all 0.3s ease;
    }
    .header-right--started:hover {
        opacity: 0.8;
    }
    .header-right a:hover {
        border-bottom: 3px solid #7256E5;
    }
    .header-right--started a:hover {
        border-bottom: none !important;
    }
}

@media screen and (min-width: 1025px) {
    .header-logo {
        padding: 25px 0px 0px 30px;
    }
    .header-right--started {
        margin-right: 60px;
        width: 120px;
        height: 18px;
    }
}

@media screen and (min-width: 1900px) {
    .header-logo {
        padding: 10px 0px 0px 120px;
    }
    .header-right--started {
        margin-right: 120px;
        width: 180px;
        height: 20px;
    }
    .header-right ul li a {
        font-size: 18px;
    }
    .header {
        padding-top: 57px;
    }
    .header-right ul li {
        padding-left: 50px;
        padding-right: 50px;
    }
}


/*below-header-section*/

.below-header-content {
    text-align: center;
    margin-top: 60px;
}

.below-header-list-item li {
    list-style: none;
}

.below-header-list-item li a {
    text-decoration: none;
    background: #E2EEFF;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 22px;
    line-height: 150%;
    color: #282AA9;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    transition: all 0.3s ease;
}

.below-header-list-item li a:hover {
    background: linear-gradient(29.98deg, #4B3E7A 46.69%, #D84451 114.38%);
    color: #ffffff;
}

.below-header-first-list .list-item-all {
    background: linear-gradient(29.98deg, #4B3E7A 46.69%, #D84451 114.38%);
    color: #ffffff;
}

.below-header-list-item ul li {
    padding: 10px 5px;
}

.list-item ul li {
    display: inline-flex;
}

.below-header-heading h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 95%;
    background: -webkit-linear-gradient(left, #3d3d7e 35%, #ff4545 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.below-header-heading p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #73738F;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
}

@media screen and (min-width:1200px) {
    .below-header-heading h1 {
        font-size: 55px;
    }
}


/*left-container*/

@media screen and (min-width:769px) {
    .container {
        display: flex;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 50px;
    }
    .left-container {
        width: 550px;
        padding-right: 10px;
    }
    .right-container {
        width: 550px;
    }
}