.header-right ul li a {
    font-family: 'Poppins Regular';
    font-size: 18px;
    text-decoration: none;
    font-weight: 400;
    color: #3A3A55;
}

.header-right--started a {
    color: white !important;
}

.header-right--started {
    background: linear-gradient(279.8deg, #F36E23 22.22%, #F3A023 86.45%);
    box-shadow: 0px 8px 14px rgba(244, 111, 36, 0.25);
    text-align: center;
}

.header-right ul li {
    list-style: none;
}

.header {
    height: 80px;
    background: linear-gradient(88.15deg, #F4F7FA 36.58%, #FEF7F5 67.09%);
}

.header-right .portfolio {
    font-weight: 600;
}

.sticky-header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

@media screen and (max-width: 768px) {
    .header-logo {
        padding: 10px 0px 20px 30px;
    }
    .header-right {
        position: absolute;
        top: 80%;
        width: 100%;
        background: #E5E5E5;
        border-top: 1px solid #ddd;
        display: none;
        line-height: 40px;
        z-index: 99;
    }
    .header-right ul li a {
        font-size: 13px;
    }
    .header {
        padding: 20px 0px;
        justify-content: space-between;
        display: flex;
        position: relative;
    }
    .header-right--started {
        width: 110px;
        height: 40px;
        border-radius: 50px;
    }
    .header-right a:hover {
        background-color: inherit;
    }
    .toggle-button {
        display: inline-flex;
        font-size: 30px;
        color: #3A3A55;
        text-decoration: none;
        margin-top: 10px;
    }
}

@media screen and (min-width: 769px) {
    .header {
        display: flex;
        justify-content: space-between;
        height: 110px;
        padding: 30px 0px;
    }
    .header-logo {
        padding: 25px 0px 0px 30px;
    }
    .toggle-button {
        display: none;
    }
    .header-right ul li {
        display: inline-block;
    }
    .header-list {
        padding: 0px 20px;
    }
    .header-right ul li {
        margin-top: 15px;
    }
    .header-right ul li a {
        font-size: 15px;
    }
    .header-right--started {
        margin-right: 30px;
        border-radius: 40px;
        transition: all 0.3s ease;
    }
    .header-right--started {
        padding: 15px 55px;
    }
    .header-right--started:hover {
        opacity: 0.8;
    }
    .header-right a:hover {
        border-bottom: 3px solid #7256E5;
    }
    .header-right--started a:hover {
        border-bottom: none !important;
    }
}

@media screen and (min-width: 1025px) {
    .header-logo {
        padding: 25px 0px 0px 30px;
    }
    .header-right--started {
        margin-right: 60px;
    }
}

@media screen and (min-width: 1900px) {
    .header-logo {
        padding: 10px 0px 0px 120px;
    }
    .header-right--started {
        margin-right: 120px;
        padding: 20px 60px;
    }
    .header-right ul li a {
        font-size: 18px;
    }
    .header {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .header-list {
        padding-left: 40px;
        padding-right: 40px;
    }
}


/*below-header-section*/

.below-header-content {
    text-align: center;
}

.below-header-list-item li {
    list-style: none;
    margin-right: 30px;
}

.below-header-list-item li a {
    text-decoration: none;
    background: #E2EEFF;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 20px;
    line-height: 150%;
    color: #282AA9;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.below-header-list-item li a:hover {
    background: linear-gradient(29.98deg, #4B3E7A 46.69%, #D84451 114.38%);
    color: #ffffff;
}

.below-header-first-list .list-item-all {
    background: linear-gradient(29.98deg, #4B3E7A 46.69%, #D84451 114.38%);
    color: #ffffff;
}

.below-header-list-item ul li {
    padding: 10px 0px;
}

.list-item ul li {
    display: inline-flex;
}

.below-header-heading h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 95%;
    background: -webkit-linear-gradient(left, #3d3d7e 35%, #ff4545 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.below-header-heading p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #73738F;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
}

@media screen and (min-width:1200px) {
    .below-header-heading h1 {
        font-size: 55px;
    }
}

@media screen and (min-width: 769px) {
    .banner-icon-bar {
        width: 60px;
        height: 321px;
        border-radius: 25px 0px 0px 25px;
        top: 40%;
        background-color: #17103E;
        transition: all 0.3s ease;
        position: fixed;
        right: 0%;
    }
    .banner-icon-bar img {
        padding-right: 10px;
        padding-left: 10px;
    }
    .banner-icon-bar .banner-icon-bar-facebook {
        Width: 16.83px;
        Height: 28.05px;
    }
    .banner-icon-bar .banner-icon-bar-linkdn {
        Width: 18.7px;
        Height: 18.7px;
    }
    .banner-icon-bar .banner-icon-bar-twitter {
        Width: 23.37px;
        Height: 18.7px;
    }
    .banner-icon-bar .banner-icon-bar-lasticon {
        Width: 27.11px;
        Height: 27.11px;
    }
    .banner-icon-bar a {
        padding: 30px 10px 25px 10px;
        display: block;
    }
    .banner-icon-bar a :hover {
        -ms-transform: scale(1.5);
        /* IE 9 */
        -webkit-transform: scale(1.5);
        /* Safari 3-8 */
        transform: scale(1.5);
        width: 15px;
    }
    .below-header-heading h1 {
        font-size: 40px;
        margin-top: 220px;
    }
    .below-header-list-item li a {
        font-size: 22px;
    }
}

@media screen and (min-width: 1900px) {
    .banner-icon-bar {
        width: 74px;
        height: 350px;
        border-radius: 25px 0px 0px 25px;
        top: 60%;
    }
    .banner-icon-bar a {
        padding-bottom: 30px;
        padding-left: 15.27px;
    }
    .banner-icon-bar .banner-icon-bar-facebook {
        padding-top: 40px;
    }
}


/*left-container*/

.container {
    padding: 20px 15px 0px 15px;
}

.container-item {
    text-align: center;
}

.container-item h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 30px;
    letter-spacing: 0.02em;
    color: #3D3E7E;
}

.container-item p {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: #73738F;
    padding-bottom: 30px;
}

.pagination-section {
    text-align: center;
}

.pagination-section p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #73738F;
}

.pagination-details-ten {
    font-weight: 700;
}

.pagination-list-item ul li {
    display: inline-flex;
    padding: 0px 6px;
}

.pagination-list-item li a {
    font-family: 'Poppins Regular';
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -0.05em;
    color: #282AA9;
    text-decoration: none;
}

.pagination-list-item li:hover {
    border-bottom: 4px solid #FFE768;
}

.pagination-icon {
    display: flex;
    justify-content: center;
}

.pagination-list-item ul {
    margin-right: 20px;
    margin-left: -20px;
}

@media screen and (min-width:769px) {
    .container {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    .left-container {
        width: 700px;
        padding-right: 50px;
    }
    .right-container {
        width: 700px;
    }
}

@media screen and (min-width:1920px) {
    .below-header-content {
        margin-top: 360px;
    }
    .below-header-list-item li a {
        padding: 10px 35px;
    }
    .below-header-list-item ul {
        padding-left: 400px;
        padding-right: 400px;
    }
}


/*popup*/

.white-popup {
    position: relative;
    background: #FFF;
    border-radius: 50px;
    padding: 20px;
    max-width: 1250px;
    margin: 20px auto;
}

.popup-container {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}

.popup-left-side-content img {
    height: 800px;
}

.popup-left-side {
    width: 650px;
    margin-top: 40px;
}

.popup-right-side {
    width: 650px;
    margin-left: 35px;
}

.popup-right-side-content h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    background: -webkit-linear-gradient(left, #3d3d7e 12%, #ff4545 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.popup-right-side-content h5 {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 170%;
    letter-spacing: 0.02em;
    color: #3D3E7E;
    margin-top: -30px;
}

.popup-right-side-content h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.02em;
    color: #484ACC;
    margin-top: -10px;
}

.popup-right-list-item ul {
    margin-left: -40px;
    margin-top: -20px;
}

.popup-right-list-item ul li {
    display: inline-flex;
    list-style: none;
}

.popup-right-list-item li a {
    padding: 3px 20px;
    background: #FFFFFF;
    border: 1.5px solid #C5D1E3;
    box-sizing: border-box;
    border-radius: 50px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #4D4EA1;
}

.popup-right-list-item li a:hover {
    opacity: 0.8;
}

.popup-right-side-content p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #73738F;
}

.popup-right-side-logo img {
    width: 200px;
    margin-top: -20px;
}

.popup-right-side-plugin h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 170%;
    color: #3D3E7E;
}

.kitbuilder {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 190%;
    letter-spacing: 0.02em;
    text-decoration-line: underline;
    color: #484ACC;
    margin-top: -15px;
    display: inline-block;
}

.plugin-list-item li {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */
    letter-spacing: 0.02em;
    color: #73738F;
    padding: 5px 0px;
}

.popup-button {
    text-align: center;
    margin-top: 50px;
}

.popup-button a {
    background: linear-gradient(279.8deg, #F36E23 22.22%, #F3A023 86.45%);
    box-shadow: 0px 8px 30px rgba(244, 111, 36, 0.25);
    padding: 10px 40px;
    border-radius: 60px;
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
}

.popup-button a:hover {
    opacity: 0.8;
}

.popup-pagination {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.popup-pagination-list-item ul {
    display: inline-flex;
    margin-left: -40px;
}

.popup-pagination-list-item li {
    list-style: none;
}

.popup-pagination-list-item li a {
    text-decoration: none;
    padding: 0px 17px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #282AA9;
}

.popup-pagination-list-item li a:hover {
    border-bottom: 4px solid #FFE768;
}

.popup-pagination-list-item li:not(:first-child)::after {
    content: '';
    position: absolute;
    width: 2px;
    background: #D0DCED;
    display: block;
    height: 18px;
    bottom: 5.5%;
}

.pagi .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    margin-left: 20px !important;
}

.pagi .swiper-pagination-bullet {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.5);
    width: 14px;
    background-color: #D33B72;
}

.pagi {
    margin-top: 30px;
}

@media screen and (min-width:1920px) {}